:root {
    --mainDark: #000000;
    --mainYellow: #D4AB39 ;
    --mainWhite: #ffffff;
  }

#forgot::placeholder {
    color: var(--mainYellow);
    text-align: center;
}

#forgot {
    color: var(--mainYellow);
    text-align: center;
	font-weight: bold;
}